html {
    scroll-behavior: smooth;
}

#header{
    font-size:25px;
    text-align:center;
}
body{
    background: linear-gradient(to bottom, #000000 0%, #4f0000 100%);
    color:white;
    min-height:300vh;
    margin: 0;
    padding: 0;
    text-align:center;
}
#intro{
    font-size:25px;
    text-align:center;
}
#intro1{
    font-size:20px;
    text-align:center;
    margin-top:2000px;
}
.ik button{
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-color:black;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#jv{
    margin-top:100px;
}
#blsky {
    vertical-align: middle;
}
#discord{
    vertical-align: middle;
    
}
#yt{
    vertical-align: middle;
}
#ds{
    animation: ds 2s linear infinite;
}
@keyframes blsky{
    0% {color:rgb(0, 247, 255);}
    50%{color:rgb(255, 255, 255);}
    100%{color:rgb(0, 247, 255);}
}
@keyframes ds{
    0% {color:blue;}
    50%{color:white;}
    100%{color:blue;}
}

#bl{
        animation: blsky 2s linear infinite;
}
@keyframes youtube{
    0% {color:rgb(255, 0, 0);}
    50%{color:white;}
    100%{color:rgb(255, 0, 0);}
}
#ytb{
        animation: youtube 2s linear infinite;
}